h1 {
    color:red;
}

div{
    color: blue;
}
#middle-div{
    color: darkred;
}

.dhbw-main-color {
    color: black;
}
span{
    color: green;
}
div:hover{
    color: yellow
}
.last-p {
    border : 2px green dashed;
    padding : 3px;
    margin: 10px;
    border-radius: 10px;
    /*display: none;*/
}