<div class="header">
  <img src="assets/logo.jpg" alt="Mein Monatsbudget Logo" class="logo">
</div>
<button type="button" class="back-button" (click)="goBack()">Zurück</button>

<div class="register-container">
  <h1>Registrieren</h1>
  <form (ngSubmit)="onSubmit()">
    <label for="vorname">Vorname</label>
    <input type="text" id="vorname" [(ngModel)]="registrationData.firstName" name="firstName" required />
    <div *ngIf="!registrationData.firstName">
    </div>

    <label for="nachname">Nachname</label>
    <input type="text" id="nachname" [(ngModel)]="registrationData.lastName" name="lastName" required />
    <div *ngIf="!registrationData.lastName">
    </div>

    <label for="email">E-Mail</label>
    <input type="email" id="email" [(ngModel)]="registrationData.email" name="email" required />
    <div *ngIf="!registrationData.email">
    </div>

    <label for="password">Passwort</label>
    <input type="password" id="password" [(ngModel)]="registrationData.password" name="password" required />
    <div *ngIf="registrationData.password && registrationData.password.length < 6">
    </div>

    <label for="password-confirm">Passwort bestätigen</label>
    <input type="password" id="password-confirm" [(ngModel)]="registrationData.confirmPassword" name="confirmPassword" required />
    <div *ngIf="registrationData.confirmPassword && registrationData.password !== registrationData.confirmPassword">
    </div>

    <div class="checkbox-container">
      <input type="checkbox" id="agb" [(ngModel)]="registrationData.acceptTerms" name="acceptTerms" required />
      <label for="agb">Ich akzeptiere die <a href="#">AGBs</a></label>
    </div>
    <div *ngIf="!registrationData.acceptTerms">
    </div>

    <button type="submit">Registrieren</button>
  </form>
  <p>Sie haben ein Konto? <a routerLink="/login">Einloggen</a></p>
</div>
